@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

.calorie-calculate-wrapper{
    overflow:visible;
}

/* .calorie-result-grid >div{
    
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

} */

.calorie-form-wrapper{
	font-family: Poppins;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.form-group{
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}






.form-field{
	width: 100%;
	margin-bottom: 20px;
	border: 0;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 1.3rem;
	color: rgb(112, 109, 109);
	padding: 2px 0;
	background: transparent;
	transition: border-color 0.2s;
}

.form-field::placeholder{
	color: transparent;
}

.form-label{
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	columns: #9b9b9b;
}

.form-field:placeholder-shown ~ .form-label{
	font-size: 1.3rem;
	cursor: text;
	top: 20px;
}

.form-field:focus{
	/* padding-bottom: 6px; */
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, #ff0062, #00ffff);
	border-image-slice: 1;
}

.form-field:focus ~ .form-label{
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #2afadf;
}




.form-field2{
	width: 100%;
	border: 0;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 1.3rem;
	color: rgb(112, 109, 109);
	padding: 2px 0;
	background: transparent;
	transition: border-color 0.2s;
}

.form-field2::placeholder{
	color: transparent;
}

.form-label2{
	position: absolute;
	top: 55px;
	display: block;
	transition: 0.2s;
	font-size: 1.3rem;
	columns: #9b9b9b;
}

.form-field2:placeholder-shown ~ .form-label2{
	font-size: 1.3rem;
	cursor: text;
	top: 25px;
}

.form-field2:focus{
	/* padding-bottom: 6px; */
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, #ff0062, #00ffff);
	border-image-slice: 1;
}

.form-field2:focus ~ .form-label2{
	position: absolute;
	top: 55px;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #2afadf;
}




.form-submit {
  transition: all 0.3s ease-in-out;
	margin-left: 50%;
	transform: translate(-50%);
}


.form-submit {
  width: 100px;
  height: 30px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #ABDCFF 0%, #0396FF 100%);
  box-shadow: 0 20px 30px -6px rgba(30, 161, 255, 0.5);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
  margin-left: 50%;
	transform: translate(-50%);
}

.form-submit:hover {
  transform: translatey(5px);
  box-shadow: none;
  margin-left: 50%;
	transform: translate(-50%);
}

.form-submit:active {
  opacity: 0.7;
  transform: scale(1.1);
  margin-left: 50%;
	transform: translate(-50%);
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background-color: #a200ff;
}
